# Dependencies
node_modules/
packages/*/node_modules/

# Build output
dist/
dist-ssr/
build/
packages/*/dist/
packages/*/build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests
coverage/
.nyc_output/
packages/*/coverage/

# Environment
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
*.local

# OS
.DS_Store

# Temp
.temp/
.tmp/
pids/
*.pid
*.seed
*.pid.lock

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Editor (frontend)
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
